<nav class="navigation">
    <div class="navigation-left-block">
        <h1>Social Network</h1>
    </div>
    <div class="navigation-right-block">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="">Messages</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="">Profil</a></li>
                <li><a href="">{{ app.user.email }}</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>